<div class="jumbotron">
    <div class="container">
	<h1>Mongo Scraper</h1>
	<p>Scrape articles from Catster and save them to read later. Write notes about it and save them to look at later too.</p>
    </div>
</div>

<div id="noArticles">
    {{#with noArt}}
    {{this.message}}
    {{/with}}
</div>

<div class="panel panel-default">
    {{#each artDb}}
    <div class="panel-body">
	<p class="title">{{this.title}}</p>
	<br/>
	<a class="link" href="{{this.link}}">{{this.link}}</a>
	<br/>
	<form>
	    <input id="title" type="hidden" value="{{this.title}}">
	    <input id="link" type="hidden" value="{{this.link}}">
	    <button id="saveArticle" class="btn btn-default" value="{{this.link}}" data-id="{{this.title}}">Save Article</button>
	</form>
    </div>
    
    {{/each}}
</div>
